%p#notice= notice

%p
  %b Title:
  = @train.title
%p
  %b Memo:
  = @train.memo
%p
  %b Take date:
  = @train.take_date

- if @train.routes.any?
  %p Route
  - @train.routes.each do |route|
    = route.name
-#%p
  %b User:
  = @train.user_id

%p Add Routes
= form_for([@train, @route]) do |f|
  = f.label :order
  = f.text_field :order
  = f.label :name
  = f.text_field :name
  = f.label :price
  = f.text_field :price
  = f.submit

= link_to 'Edit', edit_train_path(@train)
\|
= link_to 'Back', trains_path
