= form_for @book do |f|
  - if @book.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
      %ul
        - @book.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :reason
    = f.text_field :reason
  .field
    = f.label :price
    = f.number_field :price
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :severity
    = f.number_field :severity
  .field
    = f.label :howto
    = f.number_field :howto
  .field
    = f.label :buydate
    = f.date_select :buydate
  .field
    = f.label :country
    = f.text_field :country
  .actions
    = f.submit 'Save'
