%hr
%hr
%h1 Listing books

-# = form_for @search_form, :url => books_path, :html => {:method => :get} do |f|
= form_for @search_form, :class => "form-search", :url => books_path(format: :json), remote: true, :html => {:method => :get} do |f|
  .input-append
    = f.search_field :q
    = f.submit "Search", :class => "btn"

%table{:class => "table"}
  %tr
    %th
      = t('book.title')
    %th
      = t('reason')
    %th Price(税込)
    %th Url
    %th Severity
    %th Howto
    %th Buydate
    %th Country
    %th DoneFlag
    %th
    %th
    %th

  -#  - @books.each do |book|
  -#    %tr
  %tbody
    = content_tag_for :tr, @books do |book|
      %td= book.title
      %td= book.reason
      %td= book.price
      %td
        =link_to book.url, book.url
      %td= book.severity
      %td= book.howto
      %td= book.buydate
      %td= book.country
      %td
        = if book.done_flag then 'Done' else 'Noy Yet' end
      %td= link_to 'Show', book
      %td= link_to 'Edit', edit_book_path(book)
      %td= link_to 'Destroy', book, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Book', new_book_path
