%h1 Users#show

%p#notice= notice

%p
  %b Provider
  = @user.provider
%p
  %b Uid
  = @user.uid
%p
  %b Name
  = @user.name
%p
  %b SreenName
  = @user.screen_name

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
