<%= form_for @book, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reason, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :reason, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :price, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :severity, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :severity, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :howto, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :howto, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :buydate, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :buydate, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :country, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :country, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                book_path, :class => 'btn' %>
  </div>
<% end %>
